import requests

url = "https://gunadev93.pythonanywhere.com/contact/"
data = {'name': 'guna', 'email': 'cha@example.com', 'message': 'Hello!'}
r = requests.post(url, data=data)
print(r.status_code, r.text)